<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quora</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Quora Posts</h1>
    <% for(let post of posts){ %>
    <div class="post-box">
      <h3 class="username">@<%= post.username %></h3>
      <p class="content"><%= post.content %></p>

      <br />
      <div class="buttons">
        <a class="btn" href="http://localhost:8080/posts/<%= post.id %>"
          >View Post</a
        >
        <a class="btn" href="http://localhost:8080/posts/<%= post.id %>/edit"
          >Edit</a
        >
        <form method="post" action="/posts/<%= post.id%>?_method=DELETE">
          <button class="delete-btn">Delete Post</button>
        </form>
      </div>
    </div>
    <% } %>

    <br />
    <br />
    <a class="create-post" href="http://localhost:8080/post/new"
      >Create new post</a
    >
  </body>
</html>
